# Build results
bin/
obj/

# Visual Studio
.vs/
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
